body {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    background-color: #191919;
  }
  
  ul,
  ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  .section {
    max-width: 100%;
  }

  /* =============== HEADER ========================= */

.header {
height: 119px;
}

.header-container {
    margin: 26px 50px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

  .logo-icon {
    fill: #FFFFFF;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    padding: 20px;
  }

  .header-item {
font-weight: 400;
font-size: 17px;
line-height: 159%;
color: #fff;
  }

  .header-item:hover,
  .header-item:focus {
color: #118DA8;
  }

  /* =============== HERO ==================== */
  .hero {
      display: flex;
      padding: 40px 50px;
    } 
    .hero-icon {
    
    }

  .hero-img {
    border-radius: 12px;
    width: 650px;
    height: 873px;
  }

  .hero-content {
    /* width: 530px;
height: 610px; */
display: flex;
flex-direction: column;
margin: 0 60px;
justify-content: center;
  }

  .hero-title {
font-weight: 400;
font-size: 70px;
line-height: 126%;
letter-spacing: 0.05em;
color: #fff;
text-align: left;
padding-bottom: 90px;
  }

  .accent {
font-size: 75px;
line-height: 117%;
letter-spacing: 0.04em;
  }

  .accent-strong {
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0.04em;
  }

  .hero-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #fff;
    padding-bottom: 16px;
  }

  .hero-list {
display: flex;
gap: 17px;
  }

  .hero-item {

  }

  .icon-link {

  }
  
  .icon-icon {
fill: #1ED760;
  }




.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectione-photo {
  width: 389px;
  height: 432px;
  padding: 40px 53px 40px 40px;
}

.section-title {
font-weight: 400;
font-size: 64px;
line-height: 124%;
letter-spacing: 0.05em;
color: #fff;
margin-bottom: 40px;
}

.section-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
font-size: 17px;
line-height: 159%;
color: #fff;
background-color: #118DA8;
border: none;
border-radius: 6px;
width: 178px;
height: 51px;
}
.section-block-list {
}

.section-item {
  border-radius: 32px;
  width: 1300px;
  height: 545px;
  background: #000;
  display: flex;
  margin-bottom: 60px;
}

.block-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: #fff;
  padding-bottom: 28px;

}

.block-text {
font-weight: 400;
font-size: 22px;
line-height: 150%;
color: rgba(255, 255, 255, 0.7);
padding-bottom: 18px;
}

.block-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  border-radius: 6px;
  width: 208px;
  height: 51px;
  background: #118da8;
  border: none;
}
.block-container {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  justify-content: center;
}